In [1]:
import pandas as pd

In [2]:
income = pd.read_csv("C:\\Users\\guptaksh.CORPDOM\\Desktop\\Self_Learning\\MF_Python\\Self_code\\Pandas\\Data\\income.csv")

In [3]:
income.Index.counts_value()

AttributeError: 'Series' object has no attribute 'counts_value'

In [4]:
income.index.value_counts()

50    1
12    1
22    1
21    1
20    1
19    1
18    1
17    1
16    1
15    1
14    1
13    1
11    1
24    1
10    1
9     1
8     1
7     1
6     1
5     1
4     1
3     1
2     1
1     1
23    1
25    1
49    1
38    1
48    1
47    1
46    1
45    1
44    1
43    1
42    1
41    1
40    1
39    1
37    1
26    1
36    1
35    1
34    1
33    1
32    1
31    1
30    1
29    1
28    1
27    1
0     1
dtype: int64

In [3]:
income.Y2002.min()

1111437

In [4]:
income.Index.dtype

dtype('O')

In [5]:
income.loc[income.Index=='A']

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341

In [3]:
iris = pd.read_csv("C:\\Users\\guptaksh.CORPDOM\\Desktop\\Self_Learning\\MF_Python\\Self_code\\Pandas\\Data\\iris.csv")

In [2]:
import pandas as pd

In [4]:
iris.Species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
iris.